<div class="menu">
		<ul>
			<li><a href="index.jsp">Home</a></li>		
			<li class="dropdown"><a href="javascript:void(0)"
				class="dropbtn">Tables</a>
				<div class="dropdown-content">
					<a href="controller?command=readAllFilms">films</a>
					<a href="controller?command=readAllPeoples">peoples</a>
				
				</div></li>
			<li style="float: right"><a class="active" href="about.jsp">About</a></li>
		</ul>
</div>